.cooler {
  width: 20vw;
  justify-content: center;
}

.vote {
  color:#513B41;
}

.link {
  color: #513B41;
}

.link:hover {
  cursor: pointer;
  color: blue;
}

.beerIcon {
  color:#513B41;
}

.clickable {
  color:white;
  background-color: #513B41;
  border: 2px solid #513B41;
  border-radius: 3px;
  margin: 10px;
  height: 45px;
  box-shadow: 0 8px 6px -6px black;
}

.inputField {
  border: 1px solid #513B41;
}

    
   
    /* shadowOffset: {
      width: 0,
      height: 3
    },
    shadowRadius: 10,
    shadowOpacity: 0.25 */
  



