.heading {
  font-family: 'Nanum Myeongjo', serif;
  color:#513B41;
}

.boot {
  height: 20vw;
}   

.mug {
  height: 10vw;
}

.textColor {
  color:#513B41;
}

.bold {
  font-weight: bold;
}

.icon {
  color:#513B41;
}

.icon:active {
  color: green;
}

.iconGreen {
  color: green;
}

.link {
  color: #513B41;
}

.link:hover {
  cursor: pointer;
  color: blue;
}

.beerIcon {
  color:#513B41;
}

.clickable {
  color:white;
  background-color: #513B41;
  border: 2px solid #513B41;
  border-radius: 3px;
  margin: 10px;
  height: 45px;
  box-shadow: 0 8px 6px -6px black;
}

.clickable:active {
  color: #513B41;
  background-color: white;
}

.inputField {
  border: 1px solid #513B41;
}

.centerBeer {
  margin-left: 35%;
  margin-right: 35%; 
  font-family: 'Nanum Myeongjo', serif;
}

.centerBeer2 {
  margin-left: 30%;
  margin-right: 30%; 
  font-family: 'Nanum Myeongjo', serif;
}

  



